{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Editar Perfil</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesIndex.css' %}">
</head>
<body>
  <header>
    <h1>Editar Perfil</h1>
  </header>
  <main>
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      
      <button type="submit">Guardar cambios</button>
    </form>

    <a href="{% url 'profile' %}">Cancelar</a>
  </main>
</body>
</html>
