{% extends 'base.html' %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Lista de Pedidos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesListaPedidos.css' %}">
</head>

<body>
  <header>
    <div>
      <h1>Lista de Pedidos</h1>
      <a href="{% url 'crear_pedido' %}" class="floating-btn" style="text-decoration: none;">+</a>
    </div>
  </header>

  <main>
    <div class="lista-pedidos-container">
      {% for item in pedidos_con_productos %}
      <a href="{% url 'detalles_pedido' item.pedido.id %}" class="pedido-link">
        <div class="pedido-card">
          <h2>Mesa {{ item.pedido.mesa }}</h2>
          <p class="pedido-info"><strong>Pedido:</strong> #{{ item.pedido.id }}</p>
          <p class="pedido-info"><strong>Número de Clientes:</strong> {{ item.pedido.numero_clientes }}</p>
          <p class="pedido-info"><strong>Camarero:</strong> {{ item.pedido.camarero.username }}</p>

          <h3>Productos:</h3>
          <ul class="pedido-productos">
            {% for producto_pedido in item.productos %}
            <li>{{ producto_pedido.producto.nombre }} - {{ producto_pedido.cantidad }} uds - {{ producto_pedido.producto.precio }}€</li>
            {% endfor %}
          </ul>

          <p class="pedido-total">Total: {{ item.total_pedido }}€</p>
        </div>
      </a>
      {% empty %}
      <p>No hay pedidos registrados.</p>
      {% endfor %}
    </div>
  </main>
</body>

{% if pedido_reciente_id %}
<script>
  window.onload = function () {
    const link = document.createElement('a');
    link.href = "{% url 'generar_ticket_pdf' pedido_reciente_id %}";
    link.download = "";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }
</script>
{% endif %}


</html>
{% endblock %}