{% extends 'base.html' %}

{% block title %}Personal - Discovering Tentudia{% endblock %}

{% block content %}
    <h2>Lista de Camareros Registrados</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay usuarios registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
