{% extends 'base.html' %}

{% load static %}

{% block title %}Perfil - Discovering Tentudia{% endblock %}

{% block content %}

    <!-- Imagen principal (logo + fondo verde) -->
    <img src="{% static 'images/logo_blanco.jpeg' %}" alt="Discovering Tentudia" class="main-image" />

    <!-- Contenedor del perfil -->
    <div class="profile-container">
        <h2>Bienvenido, {{ user.first_name }} {{ user.last_name }}</h2>
        <p><strong>Usuario:</strong> {{ user.username }}</p>
        <p><strong>Correo:</strong> {{ user.email }}</p>
    </div>

<!-- Botón de editar perfil -->
<div class="edit-profile-button">
    <a href="{% url 'editar_perfil' %}" class="btn-lila">Editar Perfil</a>
</div>

{% endblock %}

